/* general styling (applicable to all pages) goes here: */
.view {
  display: none;
}

.background {
  background-color: #fff8f0;
}

#logo {
  margin-top: 2rem;
}

/* Intro styling: */
#storyline {
  margin-top: 15rem;
  font-size: x-large;
}

.formLink {
  display: none;
  margin-top: 5rem;
}

/* Form styling:  */
#header {
  margin-top: 2rem;
}

#myForm {
  margin-top: 4rem;
  background-color: #87cbc1;
  border-radius: 3rem;
}

.form-group {
  margin-top: 1rem;
}

/* Loading page styling: */
#fly {
  /* position: absolute; */
  width: 120px; /* Adjust the width as needed */
  height: auto;
  transition: transform 2s linear;
  margin-top: 10rem;
}

#loadText {
  margin-top: 12rem;
  text-align: center;
  font-size: larger;
}

.loader {
  width: 0;
  height: 4.8px;
  /* display: inline-block; */
  position: relative;
  background: #000000;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  /* box-sizing: border-box; */
  animation: animFw 5s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  width: 10px;
  height: 2px;
  background: #000000;
  position: absolute;
  top: 9px;
  right: -2px;
  opacity: 0;
  transform: rotate(-45deg) translateX(0px);
  /* box-sizing: border-box; */
  animation: coli1 0.3s linear infinite;
}
.loader::before {
  top: -4px;
  transform: rotate(45deg);
  animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}

/* Results/ images styling: */
.navbar-logo-img {
  width: 130px; /* Adjust the width as needed */
  height: auto;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;

}

h3 {
  text-align: center;
}

.where {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* About page styling: */
