/* css */
/* body {
  background-color:grey; 
} */

#infoForm{
  background-color: #dbd1d0;
}

/* tell us about yourself */
#header{  
  margin-top: 3rem;
  text-align: center;
}

.form-group, .name{
  margin-top: 1rem;
}

.submit{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#waldoExp{
  font-family: 'Optima', sans-serif; 
  /* transform: rotate(-5deg);*/
}
.center {
  /* border: 5px solid; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.identity{
  /* margin-top: 12rem; */
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
/* 

.prompt {
    margin-top: 3rem;
  }

  #result {
    margin-top: 5rem;
    display: none;
  }

  h2,
  h4,
  .andIam,
  .title,
  .btn {
    font-family: "MTF Gridie", sans-serif;
  }
  
  #resultText,
  .fixtext,
  .btn {
    display: inline;
    margin-top: 5rem;
    border: transparent;
  }

  .text-bg-light{
    border-radius: 1rem;
    /* opacity: 50%;
    z-index: 0; */
  /* }
  button:disabled {
    opacity: 50%;
    background-color: #a6763e;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 15px 32px;
  }
  button:enabled {
    background-color: #a6763e;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 15px 32px;
  } */